<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <title>校园跑腿后台管理-后台管理</title>
  <link rel="stylesheet" href="/Public/Admin/css/pintuer.css">
  <link rel="stylesheet" href="/Public/Admin/css/admin.css">
  <script src="/Public/Admin/js/article.js"></script>
  <script type="text/javascript" src="/Public/Admin/js/jquery.js"></script>
</head>

<body>
  <div class="admin">
    <div class="tab">
      <div class="tab-head"> <strong>帖子管理</strong>
        <ul class="tab-nav">
          <li class="active"><a href="#tab-set">添加帖子</a></li>
        </ul>
      </div>
      <div class="tab-body"> <br />
        <div class="tab-panel active" id="tab-set">
          <form method="post" class="form-x" action="">
            <div class="form-group">
              <div class="label">
                <label for="title">帖子标题</label>
              </div>
              <div class="field">
                <input type="text" class="input" id="title" name="article_name" size="50" placeholder="请填写你帖子标题的名称" />
              </div>
            </div>
            <div class="form-group">
              <div class="label">
                <label for="article_cid">所属分类</label>
              </div>
              <div class="field">
                <select class="input" name="article_cid" style="width:20%" id="cat_id">
                  <?php foreach($_SESSION['list_cats'] as $key => $v): ?>
                  <option value="<?php echo $_SESSION['list_cats'][$key]['c_id'] ?>">
                    <?php echo $_SESSION['list_cats'][$key]['c_name'] ?>
                  </option>
                  <!-- <option value="1">欣赏</option>
                  <option value="2">程序人生</option>
                  <option value="3">经典语录</option> -->
                  <?php endforeach; ?>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="label">
                <label for="content">帖子内容</label>
              </div>
              <div class="field">
                <textarea name="article_content" cols="50" rows="5" class="input" id="content"
                  placeholder="内容"></textarea>
              </div>
            </div>
            <div class="form-button">
              <button class="button bg-main" type="submit">提交</button>
            </div>
          </form>
        </div>
        <div class="tab-panel" id="tab-email">邮件设置</div>
        <div class="tab-panel" id="tab-upload">上传设置</div>
        <div class="tab-panel" id="tab-visit">访问限制</div>
      </div>
    </div>
  </div>
</body>

</html>