<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>校园跑腿后台管理-后台管理</title>
</head>
<link rel="stylesheet" href="/Public/Admin/css/pintuer.css">
<link rel="stylesheet" href="/Public/Admin/css/admin.css">

<body>
	<div class="admin">
		<div class="tab">
			<div class="tab-head"> <strong>帖子管理</strong>
				<ul class="tab-nav">
					<li class="active"><a href="#tab-set">修改帖子</a></li>
				</ul>
			</div>
			<div class="tab-body"> <br />
				<div class="tab-panel active" id="tab-set">
					<form method="post" class="form-x" action="">
						<div class="form-group">
							<div class="label">
								<label for="title">帖子标题</label>
							</div>
							<div class="field">
								<input type="text" class="input" id="title" name="article_name" size="50"
									value="<?=$info['article_name']?>" />
							</div>
						</div>
						<!-- <div class="form-group">
							<div class="label">
								<label for="article_cid">所属分类</label>
							</div>
							<div class="field">
								<select class="input" name="article_cid" style="width:20%" id="cat_id">
									<option value="0">日记</option>
									<option value="1">欣赏</option>
									<option value="2">程序人生</option>
									<option value="3">经典语录</option>
								</select>
							</div>
						</div> -->
						<div class="form-group">
							<div class="label">
								<label for="content">帖子内容</label>
							</div>
							<div class="field">
								<textarea name="article_content" cols="50" rows="5" class="input"
									id="content"><?=$info['article_content']?> </textarea>
							</div>
						</div>
						<div class="form-button">
							<button class="button bg-main" type="submit">提交</button>
						</div>
					</form>
				</div>
				<div class="tab-panel" id="tab-email">邮件设置</div>
				<div class="tab-panel" id="tab-upload">上传设置</div>
				<div class="tab-panel" id="tab-visit">访问限制</div>
			</div>
		</div>
	</div>

	<!-- <form method="post" action="">
	标题： <input type="text" name="article_name" value='<?=$info['article_name']?>'> <br />
	所属类别： <input type="text" name="article_cid" value='<?=$info['article_cid']?>'> <br />
	内容： <textarea  name="article_content" cols="40" rows="10"><?=$info['article_content']?> </textarea>
	<input type="hidden" name="proID" value=<?=$info['proID']?>>
	<input type="submit" value="提交">
	</form> -->
</body>

</html>