<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>校园跑腿后台管理-后台管理</title>
    <link rel="stylesheet" href="/Public/Admin/css/pintuer.css">
    <link rel="stylesheet" href="/Public/Admin/css/admin.css">
</head>

<body>
    <div class="admin">
        <form method="post">
            <div class="panel admin-panel">
                <div class="panel-head"><strong>综合管理</strong></div>
                <div class="padding border-bottom">
                    <input type="button" class="button button-small border-green" value="轮播图添加"
                        onClick="location.href='index.php?p=Admin&c=Bulletin&a=addc'" /> <input type="button"
                        class="button button-small border-green" value="公告管理"
                        onClick="location.href='index.php?p=Admin&c=Bulletin&a=editg'" />
                </div>
                <table class="table table-hover">
                    <tr>
                        <th width="180">编号</th>
                        <th width="*">图片</th>
                        <th width="100">操作</th>
                    </tr>
                    {foreach $list as $rows}
                    <tr>
                        <td>{$rows['ca_id']}</td>
                        <td><img src="/Public/Uploads/{$rows['ca_img']}" width="25px" height="25px"></td>
                        <td><a class="button border-blue button-little"
                                href="index.php?p=Admin&c=Bulletin&a=editc&ca_id={$rows['ca_id']}">修改</a>
                            <a class="button border-yellow button-little"
                                href="index.php?p=Admin&c=Bulletin&a=delc&ca_id={$rows['ca_id']}" onclick="">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </form>
        <br />
        <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">Person</a>构建</p>
    </div>
</body>

</html>