<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>校园跑腿后台管理-后台管理</title>
    <link rel="stylesheet" href="/Public/Admin/css/pintuer.css">
    <link rel="stylesheet" href="/Public/Admin/css/admin.css">
</head>

<body>
    <div class="admin">
        <form method="post">
            <div class="panel admin-panel">
                <div class="panel-head"><strong>前台用户信息</strong></div>
                <table class="table table-hover">
                    <tr>
                        <th width="120">编号</th>
                        <th width="240">账号</th>
                        <th width="280">邮箱</th>
                        <th width="120">钱包</th>
                        <th width="100">操作</th>
                    </tr>
                    {foreach $list as $rows}
                    <tr>
                        <td>{$rows['Uid']}</td>
                        <td>{$rows['Uno']}</td>
                        <td>{$rows['email']}</td>
                        <td>{$rows['money']}</td>
                        <td><a class="button border-yellow button-little"
                                href="index.php?p=Admin&c=cu_user&a=edit&Uid={$rows['Uid']}">修改</a>&nbsp;
                            <a class="button border-yellow button-little"
                                href="index.php?p=Admin&c=cu_user&a=del&Uid={$rows['Uid']}"
                                onclick="return confirm('确认删除?')">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </form>
        <br />
    </div>
</body>

</html>