<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>校园跑腿后台管理-后台管理</title>
<link rel="stylesheet" href="/Public/Admin/css/pintuer.css">
<link rel="stylesheet" href="/Public/Admin/css/admin.css">
</head>

<body>
<ul class="nav nav-inline admin-nav">
    <li class="active">
        <ul>
        	<li><a href="index.php?p=Admin&c=Users&a=list" target="mainFrame">用户管理</a></li>
		<li><a href="index.php?p=Admin&c=cat&a=list" target="mainFrame">类别管理</a></li>
            <li><a href="index.php?p=Admin&c=Main&a=main" target="mainFrame">个人资料</a></li>
        	<li><a href="index.php?p=Admin&c=articles&a=list" target="mainFrame">文章管理</a></li>   
            <li><a href="index.php?p=Admin&c=Products&a=list" target="mainFrame">任务管理</a></li> 
            <li><a href="index.php?p=Admin&c=Orders&a=list" target="mainFrame">订单管理</a></li>
            <li><a href="index.php?p=Admin&c=Bulletin&a=list" target="mainFrame">综合管理</a></li>    
        </ul>
    </li>
</ul>
</body>
</html>
