<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>电商后台管理-后台管理</title>
</head>

<body>
<form method="post" action="">
	商品名称： <input type="text" name="article_cid" value='<?=$info['article_cid']?>'> <br />
	商品数量： <input type="text" name="article_cid" value='<?=$info['article_cid']?>'> <br />
	商品价格： <input type="text" name="article_cid" value='<?=$info['article_cid']?>'> <br />
	<!--
	<input type="hidden" name="proID" value=<?=$info['proID']?>>
	-->
	<input type="submit" value="提交">
</form>
</body>
</html>