<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>校园跑腿后台管理-后台管理</title>
</head>

<body>
<form method="post" action="">
	任务名称： <input type="text" name="article_cid" value='<?=$info['article_cid']?>'> <br />
	任务数量： <input type="text" name="article_cid" value='<?=$info['article_cid']?>'> <br />
	跑腿回报： <input type="text" name="article_cid" value='<?=$info['article_cid']?>'> <br />
	<!--
	<input type="hidden" name="proID" value=<?=$info['proID']?>>
	-->
	<input type="submit" value="提交">
</form>
</body>
</html>