<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>校园跑腿后台管理-后台管理</title>
</head>
<style>
	.btn{
		margin-left: 150px;
	}
	</style>
<body>
<form method="post" action="" enctype="multipart/form-data">
	名 称：&nbsp <input type="text" name="Pname"> <br />
	价 格：&nbsp <input type="text" name="Ptotal"> <br />
	发布人：<input type="text" name="Puser" placeholder="默认为admin"> <br />
	图 片：&nbsp&nbsp;<input type="file" name="PIMG"><br/>
	目的地：<textarea  name="Pword" cols="40" rows="10"></textarea><br/>
	<input class="btn" type="submit" value="提交">
</form>
</body>
</html>